*{
    font-family:'roboto',sans-serif;
    box-sizing: border-box;
}

body {

    background-image: linear-gradient(to right,rgb(233, 99, 99),rgb(102, 11, 11));
}

.content{
    width: 100vw;
    height: 100%;
    /*alteração */
    padding: 1rem;
    background-color: #fff;

}

.content h1 {
    text-align: center;
    background-image: linear-gradient(to right,rgb(233, 99, 99),rgb(102, 11, 11));
    color: #fff;
    border-radius: .7rem;
    padding: .25rem;
}

@media screen and (min-width: 750px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }    
}